body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
	color: white;
}

.tableRow:hover {
	background-color: grey;
	cursor: pointer;
}
.hidden { 
	display:none !important; 
}

th {
  color: white;
}

td {
  color: white;
}
span {
  color: white;
}

table {
  display: table;
}

.invert {
  display: table-cell;
}

table tr td {
  display: block;
}

.fab {
  outline-style:none !important;
}

.IconButton {
  outline-style:none !important;
}

hr {
  height:2px; 
  visibility:hidden; 
  margin-bottom:-10px; 
}

.savedButton {
  outline-style:none !important;
}

div.text {
  display: inline-block;
}

.typography {
  position: relative;
  top:30px;
  margin: 0px 20px 0px 20px;
}


